service: stripe-ecommerce-serverless
app: stripe-ecommerce-serverless
org: jcottam

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  environment:
    STRIPE_SECRET_KEY: ${env:STRIPE_SECRET_KEY}
    AUTHORIZATION_TOKEN: ${env:AUTHORIZATION_TOKEN}

plugins:
  - serverless-dotenv-plugin
  - serverless-offline

functions:
  stripeCreateCharge:
    handler: stripe.createCharge
    events:
      - http:
          path: stripe/create-charge
          method: post
          cors: true

  getCharges:
    handler: stripe.getCharges
    events:
      - http:
          path: stripe/charges
          method: get
          cors: true
